.product_pizza {
  display: flex;
  background-color: var(--product_pizza);
  padding-top: 35px;
}
.product_item_pizza {
  width: 25%;
  text-align: center;
  padding: 0 25px;
}
div {
  display: block;
}

.product_icon_pizza {
  transition: 1s;
  width: 100%;
  border: var(--border_icon);
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.btn {
  display: inline-block;
  padding: 20px 100px;
}

nav {
  display: block;
}